<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244474065305-8rr2bpua7maf7jrreca29h84j88jrc8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244474065305-8rr2bpua7maf7jrreca29h84j88jrc8r</string>
	<key>API_KEY</key>
	<string>AIzaSyBoOkMdtSQiuCwDdW7SZGU2JUKRD89DKjo</string>
	<key>GCM_SENDER_ID</key>
	<string>244474065305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udacity.buraktunc.PhoSocialApp</string>
	<key>PROJECT_ID</key>
	<string>phosocial-3f309</string>
	<key>STORAGE_BUCKET</key>
	<string>phosocial-3f309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244474065305:ios:d7b5aa021415bd78cd6308</string>
	<key>DATABASE_URL</key>
	<string>https://phosocial-3f309.firebaseio.com</string>
</dict>
</plist>